name: Deploy Backend
on:
    push:
        branches: [ main ]
jobs:
    build: 
        runs-on: ubuntu-latest
        steps:
          - name: Checkout the code
            uses: actions/checkout@v2

          - name: Docker login
            uses: docker/login-action@v2
            with:
              username: ${{ secrets.DOCKERHUB_USERNAME }}
              password: ${{ secrets.DOCKERHUB_PASSWORD }}

          - name: Build and push
            uses: docker/build-push-action@v4
            with:
              context: .
              file: ./docker/Dockerfile.backend
              push: true
              tags: amansaleem24/todo-app-backend:${{ github.sha }}

          - name: Deploy backend to EC2
            uses: appleboy/ssh-action@v0.1.6
            with:
              host: ${{ secrets.VM_HOST }}
              username: ubuntu
              key: ${{ secrets.SSH_KEY_PEM }}
              script: |
                docker pull amansaleem24/todo-app-backend:${{ github.sha }}

                docker stop todo-backend || true
                docker rm todo-backend || true

                docker run -d \
                  --name todo-backend \
                  --restart unless-stopped \
                  -p 8080:8080 \
                  -e DATABASE_URL="${{ secrets.DATABASE_URL }}" \
                  -e NODE_ENV=production \
                  amansaleem24/todo-app-backend:${{ github.sha }}

                docker image prune -f





 
