name: Deploy Frontend
on:
    push:
        branches: [ main ]
jobs:
    build: 
        runs-on: ubuntu-latest
        steps:
          - name: Checkout the code
            uses: actions/checkout@v2

          - name: Docker login
            uses: docker/login-action@v2
            with:
              username: ${{ secrets.DOCKERHUB_USERNAME }}
              password: ${{ secrets.DOCKERHUB_PASSWORD }}

          - name: Build and push
            uses: docker/build-push-action@v4
            with:
              context: .
              file: ./docker/Dockerfile.frontend
              build-args: |
                DATABASE_URL="${{ secrets.DATABASE_URL }}"
              push: true
              tags: amansaleem24/todo-app-frontend:${{ github.sha }}

          # - name: Deploy to VM
          #   uses: appleboy/ssh-action@v0.1.6
          #   with:
          #     host: ${{ secrets.VM_HOST }}
          #     username: ${{ secrets.VM_USERNAME }}
          #     key: ${{ secrets.VM_SSH_KEY }}
          #     script: |
          #       docker pull amansaleem24/todo-app-frontend:${{ github.sha }}
          #       docker stop todo-frontend || true
          #       docker rm todo-frontend || true
          #       docker run -d --name todo-frontend -p 80:3000 amansaleem24/todo-app-frontend:${{ github.sha }} 

 
